/*공통*/
html, body, div, header, nav, section, aside, article, footer, ul, ol, li, dl, dt, dd, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* 링크 스타일 */
a {
    color: rgb(33, 33, 33);
    text-decoration: none;
}

/* 기본 스타일 */
body {
    color: rgb(33, 33, 33);
    font-size: 15px;
}

/* 건너뛰기 링크 */
#skipNav {
    position: absolute;
    left: -9999px;
}
#skipNav:focus {
    left: 50%;
    margin: 3px 0 0 -3em;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    outline: 0;
    z-index: 10;
}

/* 전체적인 레이아웃 설계 */
/* 0522 최보아 - common.css랑 충돌로 주석 */
/* header, footer, #top_header, #bot_header, #main_content, #top_footer_area, #menu_hover, #mid_footer_area, #bot_footer_area { */
/*     width: 1024px; */
/*     margin: 0 auto; */
/*     box-sizing: border-box; */
/* } */

/*헤더*/
#header {
/*     position: relative; */
    line-height: 3.125rem;
    text-align: center;
/*     font-weight: bold; */	/* 0522 최보아 - common.css랑 충돌로 주석 */
    background-color: rgb(255, 255, 255);
    z-index: 9999;
}
#header h1 {
    color: rgb(30, 29, 41);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
}
#header nav {
    display: flex;
}
#header nav a {
    flex-basis: 100%;
    height: 2.875rem;
    font-size: 1.125rem;
    color: #8a8e	91;
    border-bottom: 1px solid rgb(234, 233, 241);
}
#header nav a:hover ,header nav a:active {
    color: #8a8e91;
}
#header nav a.active {
    color: rgb(33, 33, 33);
    border-bottom: 3px solid rgb(33, 33, 33);
}
#header nav a.active:hover, header nav a.active:active {
    color: rgb(33, 33, 33);
}

