<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj2.shoecream.mapper.AdminMapper">
	<!-- 회원 조회 -->
	<select id="selectMemberInfo" resultType="com.pj2.shoecream.vo.MemberVO">
		SELECT *
			FROM mem_info
				<if test="!searchKeyword.equals('')">
					WHERE 
					<choose>
						<when test="searchType.equals('mem_id')">
							mem_id LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_name')">
							mem_name LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_nickname')">
							mem_nickname LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_rank')">
							mem_rank LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
					</choose>
				</if>
			LIMIT
				#{startRow}
				, #{listLimit}
	</select>
	<select id="selectMemberListCount" resultType="int">
		SELECT COUNT(*)
			FROM mem_info
				<if test="!searchKeyword.equals('')">
					WHERE 
					<choose>
						<when test="searchType.equals('mem_id')">
							mem_id LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_name')">
							mem_name LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_nickname')">
							mem_nickname LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
						<when test="searchType.equals('mem_rank')">
							mem_rank LIKE CONCAT('%', #{searchKeyword},'%')
						</when>
					</choose>
				</if>
	</select>
	<!-- 회원 정보 상세조회 -->
	<select id="getMemberInfo" resultType="com.pj2.shoecream.vo.MemberVO">
		SELECT *
			FROM mem_info
			WHERE mem_idx = #{mem_idx}
	</select>
	<!-- 회원 등업 업데이트 -->
<!-- 	<update id="updateMemberRank"> -->
<!-- 		UPDATE MEMBER -->
<!-- 			SET mem_rank -->
<!-- 	</update> -->

	<!-- 회원 삭제 처리 -->
	<delete id="deleteMember">
		DELETE FROM mem_info
			WHERE mem_idx = #{mem_idx}
	</delete>
	
	<!-- 회원 문의 게시판 조회 -->
	<select id="selectQstBoard" resultType="com.pj2.shoecream.vo.InquiryBoardVO">
		SELECT *
			FROM qst_board
				<if test="!searchType.equals('')">
					WHERE qst_type = #{searchType}
				</if>
				ORDER BY
					qst_board_re_ref DESC
					, qst_board_re_seq ASC
			LIMIT
				#{startRow}
				, #{listLimit}
	</select>
	<select id="getQstListCount" resultType="int">
		SELECT COUNT(*)
			FROM qst_board
				<if test="!searchType.equals('')">
					WHERE qst_type = #{searchType}
				</if>
	</select>
	
</mapper>