<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj2.shoecream.mapper.BoardMapper">
<select id="getNoticeListPaging" resultType="com.pj2.shoecream.vo.NoticeVO">
	SELECT *
	FROM (
		SELECT
			bo_idx
			, bo_title
			, bo_content
			, bo_sysdate
			, bo_readcount
		FROM board_notice
	) AS n1
	<if test="!searchKeyword.equals('')">
		WHERE 
		<choose>
			<when test="searchType.equals('title')">
				bo_title LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('content')">
				bo_content LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('title_content')">
				bo_title LIKE CONCAT('%', #{searchKeyword},'%')
				OR bo_content LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
		</choose>
	</if>
	ORDER BY bo_idx DESC
	LIMIT #{cri.skip}, #{cri.amount}
</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
			FROM board_notice
	</select>
	
	<select id="noticeDetail" resultType="com.pj2.shoecream.vo.NoticeVO">
		SELECT *
			FROM board_notice
				WHERE bo_idx = #{bo_idx}
	</select>
	<update id="modifyBoard">
		UPDATE board_notice
			SET bo_title = #{bo_title},
				bo_content = #{bo_content}
					WHERE bo_idx = #{bo_idx}
	</update>
	<delete id="deleteNotice">
		DELETE
			FROM board_notice
				WHERE bo_idx = #{bo_idx}
	</delete>
	<update id="updateIdx">
		UPDATE board_notice
			SET bo_idx = bo_idx - 1
			WHERE bo_idx > #{bo_idx}
	</update>
	<select id="selectMaxIdx" resultType="int">
		SELECT IFNULL(MAX(bo_idx) + 1, 0)
			FROM board_notice
	</select>
	<insert id="insertNotice">
		INSERT
			INTO board_notice
			VALUES (
				#{bo_idx},
				#{bo_title},
				#{bo_content},
				now(),
				0
			)
	</insert>
	
	<!--      마이페이지        -->
	<!-- 1:1 문의 작성 -->
	<insert id="insertQstBoard">
		<selectKey keyProperty="qst_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(qst_idx), 0) FROM qst_board
		</selectKey>
			INSERT 
				INTO qst_board
				VALUES (
					#{qst_idx} + 1
					, #{mem_idx}
					, #{mem_name}
					, #{qst_pass}
					, #{qst_subject}
					, #{qst_content}
					, #{qst_idx} + 1 -- qst_board_re_ref
					, 0
					, 0
					, now()
					, #{qst_type}
					, 'N'
				)
	</insert>
	<!-- 문의 리스트 -->
		<!-- 일대일 문의 게시판 조회 -->
	<select id="selectQstBoard" resultType="com.pj2.shoecream.vo.InquiryBoardVO">
		SELECT *
			FROM qst_board
				<if test="!searchType.equals('')">
					WHERE qst_type = #{searchType}
				</if>
				ORDER BY
					qst_board_re_ref DESC
					, qst_board_re_seq ASC
			LIMIT
				#{startRow}
				, #{listLimit}
			WHERE mem_idx = #{mem_idx}
	</select>
	<select id="getQstListCount" resultType="int">
		SELECT COUNT(*)
			FROM qst_board
				<if test="!searchType.equals('')">
					WHERE qst_type = #{searchType}
				</if>
	</select>
	
</mapper>