<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj2.shoecream.mapper.FollowMapper">
	<!-- 팔로우 하기 -->
	<insert id="registFollow"
		parameterType="com.pj2.shoecream.vo.FollowVO">
		INSERT
		INTO social_follows
		VALUES (
		null
		, #{follower_idx}
		,
		#{followee_idx}
		, now()
		)
	</insert>

	<!-- 팔로우 취소하기 -->
	<delete id="deleteFollow">
		DELETE
		FROM social_follows
		WHERE follower_idx =
		#{follower_idx}
		AND followee_idx = #{followee_idx}
	</delete>

	<!-- 팔로우 중복 확인 -->
	<select id="countExistingFollow"
		parameterType="com.pj2.shoecream.vo.FollowVO" resultType="int">
		SELECT
		COUNT(*)
		FROM social_follows
		WHERE follower_idx = #{follower_idx}
		AND
		followee_idx = #{followee_idx}
	</select>

	<!-- 팔로우 상태 -->
	<select id="mfollowState" parameterType="map">
		SELECT COUNT(*)
		FROM
		social_follows
		WHERE follower_idx = #{sId}
		AND followee_idx = #{mem_idx}
	</select>

	<!-- 팔로우 수 -->
	<select id="mfollowCount" parameterType="int">
		SELECT COUNT(*)
		FROM
		social_follows
		WHERE follower_idx = #{mem_idx}
	</select>

	<!-- 팔로우 리스트 구현 -->
	<select id="selectFollowList" resultType="com.pj2.shoecream.vo.FollowingDto">
		SELECT m.mem_idx, m.mem_id, m.mem_profileImageUrl,
		if((SELECT 1 FROM social_follows WHERE follower_idx = #{sId} AND followee_idx = m.mem_idx), 1, 0) followState
		, if((#{sId}=m.mem_idx), 1, 0) equalMemberState
		FROM mem_info m inner join social_follows s
		ON m.mem_idx = s.followee_idx
		WHERE s.follower_idx = #{mem_idx};
	</select>


</mapper>
