<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj2.shoecream.mapper.JungGoNohMapper">
		<!-- 상품 작성 - INSERT -->
	
	<insert id="insertJungProduct">
	
		INSERT
			INTO jung_product
			VALUES (
				  #{product_idx} -- product_idx
				, #{mem_idx} -- mem_idx
				, #{product_title} -- product_title
				, #{product_info} -- product_info
				, #{product_payment} -- product_payment
				, #{lc_code} -- lc_code
				, #{mc_code} -- mc_code
				, now() -- product_date
				, #{product_readcount} -- product_readcount
				, #{product_brand} -- product_brand
				, #{product_size} -- product_size
				, 1 -- 식별코드 중고
				, #{product_price} -- product_price
				, #{product_status} -- product_status
				, '대기중' -- product_sell_status
				, #{product_location} -- product_location
			)
	</insert>
	
	<!-- 물건 사진 등록 -->
	<insert id="insertProductImage">
	
		INSERT
			INTO product_image
			VALUES (
				  #{product_idx} -- product_idx
				, #{image1} -- image1
				, #{image2} -- image2
				, #{image3} -- image3
				, #{image4} -- image4
				, '/resources/upload' -- path
			)
	</insert>
	
	<!-- 상품 상세보기 - SELECT -->
	<select id="selectProduct" resultType="com.pj2.shoecream.vo.JungGoNohVO">
		SELECT jpd.product_idx, jpd.product_price, jpd.product_status, jpd.product_sell_status, jpd.product_location
		, jpd.product_title, jpd.product_info, jpd.product_payment, jpd.lc_code, jpd.mc_code
		, jpd.product_date, jpd.product_readcount, jpd.product_brand, jpd.product_size, jpd.product_selector
		, mi.mem_idx, mi.mem_id, mi.mem_nickname, mi.mem_rank, mi.mem_profileImageUrl
		, pi.image1, pi.image2, pi.image3, pi.image4, pi.image_path 
		, (select count(*) from dibs di where jpd.product_idx = di.product_idx) dibs_count
		FROM jung_product jpd
		  JOIN mem_info mi
		    ON jpd.mem_idx = mi.mem_idx
LEFT OUTER JOIN product_image pi
		    ON jpd.product_idx = pi.product_idx
	     WHERE jpd.product_idx = #{product_idx}
	</select>
	
	<!-- 찜 검색 -->
	<select id="selectDibs" resultType="com.pj2.shoecream.vo.JungGoNohVO">
		SELECT di.product_idx, di.favorite_check
		FROM jung_product jpd
		  JOIN dibs di
		    ON jpd.product_idx = di.product_idx
		  JOIN mem_info mi
		    ON jpd.mem_idx = mi.mem_idx  
		 WHERE jpd.product_idx = #{product_idx}
		 AND jpd.mem_idx = ${mem_idx}
	</select>
	
		<!-- 게시물 조회수 증가 - UPDATE -->
	<!-- selectKey 를 활용하여 조회수 증가 후의 board_readcount 값을 조회하여 BoardVO 객체에 저장 -->
	<!-- 조회된 결과값을 저장할 변수가 파라미터로 전달받은 객체의 멤버변수명과 동일할 경우 해당 객체에 저장 -->
	<!-- 이 때, 객체를 별도로 리턴 선언하지 않고도, 객체는 공유되므로 외부에서 변경된 값을 사용 가능 -->
	<update id="updateReadcount">
		<!-- selectKey 태그는 위치와 상관없이 order 속성값에 따라 실행됨 -->
		<selectKey keyProperty="product_readcount" resultType="int" order="AFTER">
			SELECT product_readcount
			  FROM jung_product
			 WHERE product_idx = #{product_idx}
		</selectKey>
		UPDATE jung_product
		   SET product_readcount = product_readcount + 1
		 WHERE product_idx = #{product_idx}
	</update>
		
		<!-- 글 삭제 - DELETE -->
	<!-- 글번호가 일치하는 레코드 삭제 -->
	<delete id="deleteProduct">
		DELETE 
		  FROM jung_product
		 WHERE product_idx = #{product_idx}
	</delete>
	
	<!-- 찜등록 -->
	<insert id="insertDibs">
	INSERT INTO dibs
		 VALUES 
		 (#{dibs_idx}
	     ,#{mem_idx}
	     ,#{product_idx}
	     ,'Y')
	</insert>
	
	<!-- 찜해제 -->
	<delete id="deleteDibs">
		DELETE 
		  FROM dibs
		 WHERE product_idx = #{product_idx}
		   AND mem_idx = #{mem_idx}
	</delete>
	
	
	<!-- 찜 등록시 조회수 감소 -->
	<update id="decreaseReadcount">
		UPDATE jung_product
		   SET product_readcount = product_readcount - 1
		 WHERE product_idx = #{product_idx}
	</update>
	
	<!-- 더 많은 상품 목록 리스트 3개 -->
	<select id="getMoreProductListSmall" resultType="map" parameterType="com.pj2.shoecream.vo.JungGoNohVO">
	   SELECT jpd.product_idx, jpd.product_price, jpd.product_status, jpd.product_sell_status, jpd.product_location
		, jpd.product_title, jpd.product_info, jpd.product_payment, jpd.lc_code, jpd.mc_code
		, jpd.product_date, jpd.product_readcount, jpd.product_brand, jpd.product_size, jpd.product_selector
		, mi.mem_idx, mi.mem_id, mi.mem_nickname, mi.mem_rank
		, pi.image1
		FROM jung_product jpd
		JOIN mem_info mi
		  ON jpd.mem_idx = mi.mem_idx
		JOIN product_image pi
		  ON jpd.product_idx = pi.product_idx
	   WHERE mi.mem_idx = ${mem_idx}	
    ORDER BY jpd.product_idx desc 
	   LIMIT 3;
	</select>
	
	
</mapper>
