<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pj2.shoecream.mapper.ReportMapper">

<select id="getReportListPaging" resultType="com.pj2.shoecream.vo.ReportVO">
	SELECT *
	FROM (
		SELECT
			report_idx
			, report_content
			, report_count
			, product_idx
			, report_div
			, report_detail
		FROM joonggo_report
	) AS n1
	WHERE report_count >= 5
	<if test="!searchKeyword.equals('')">
		AND 
		<choose>
			<when test="searchType.equals('title')">
				report_div LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('content')">
				report_detail LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('title_content')">
				report_content LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
		</choose>
	</if>
	ORDER BY report_idx ASC
	 LIMIT #{cri.amount} OFFSET #{cri.skip}
</select>

<select id="getTotal" resultType="int">
		SELECT COUNT(*)
			FROM joonggo_report
</select>

<delete id="deleteReport">
DELETE
	FROM joonggo_report
		WHERE product_idx = #{product_idx}
</delete>

<update id="updateIdx">
		UPDATE joonggo_report
			SET report_idx =report_idx - 1
			WHERE report_idx > #{report_idx}
</update>
<delete id="deleteProduct">
 DELETE
    FROM jung_product
        WHERE product_idx = #{product_idx};
   
</delete>

<!--  경매 신고 -->
<select id="getAuctionReportListPaging" resultType="com.pj2.shoecream.vo.ReportVO">
	SELECT *
	FROM (
		SELECT
			auction_report_idx
			, report_content
			, report_count
			, product_idx
			, report_div
			, report_detail
		FROM auction_report
	) AS n1
	WHERE report_count >= 5
	<if test="!searchKeyword.equals('')">
		AND 
		<choose>
			<when test="searchType.equals('title')">
				report_div LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('content')">
				report_detail LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
			<when test="searchType.equals('title_content')">
				report_content LIKE CONCAT('%', #{searchKeyword},'%')
			</when>
		</choose>
	</if>
	ORDER BY auction_report_idx ASC
	 LIMIT #{cri.amount} OFFSET #{cri.skip}
</select>
<delete id="deleteAuctionlist">
DELETE
	FROM auction_report
		WHERE product_idx = #{product_idx}
</delete>

<delete id="deleteAuction">
 DELETE
    FROM auction_item
        WHERE auction_idx = #{auction_idx};
   
</delete>
	<insert id="insertAuctionReport">
		insert into
			auction_report
		values(
			null
			, #{report_content}
			, #{auction_idx}
			, #{seller_idx}
			, #{reporter_idx}
			, #{report_div}
			, #{report_detail}
			, now()
		)
	</insert>


</mapper>