@charset "UTF-8";

/*채팅방 전체 css*/
.side_chatroom_wrap {
    min-width: 500px;
    width: 85%;
    max-width: 900px;
    height: 600px;
	box-shadow:  0  0 10px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

/* 채팅방 본인이 판매자인지 구매자인지 구분 */
.chatSeller, .chatBuyer{	
	text-align:center;
	max-width: 70px;
	background-color: white;
	border-radius: 5px;
}
.chatSeller{	
	border: 3px solid orange;
}

.chatBuyer{
	border: 3px solid aqua;
	
}

/* 채팅 메시지 창 */
.chat_msg_warp{
	height: 100%;
	padding: 0px;
}

.chat_msg_info_wrap {
	margin-bottom: 5px;
}

.product_info_wrap, .chat_member_wrap {
	height: 100px;
	border-bottom: 2px solid lightgray;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px
}

/* 채팅 상품 정보창 이미지*/
.product_info_wrap img, .chat_member_wrap img{
	width: 90px;
	height: 90px;
	border-bottom: 2px solid lightgray;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    margin-bottom: 0.1rem;
}

#chatHiddenBtn{
	display:none;
}

#msgArea {
	height: 350px;
	overflow: auto;
}

/* 채팅 레이아웃 */

.chat_msg_l > div , .chat_msg_r > div{
	width:90%;
}


.chat_msg_r{
	display:flex;
	justify-content: end;
}

/* 채팅방 비어있을때 */
.no_chat_room{
	margin-top: 50%;
}
