@charset "UTF-8";

body {
	width:500px;
}


.titleContainner {
	width:100%;

}

.title_title {
	width:100%;
	font-size: 35px;
	font-weight: 600;
	color: #333;
	border-bottom: 3px solid #ddd;
	margin-bottom: 10px;
}
tr {
	padding:5px;
	margin:10px;
}
td {
	padding:5px;
	margin:10px;
}

.back_btn {
	margin-top:8px;
	width:20%;
	height:25px;
	font-size: 15px;
	font-weight: 300;
	color: white;
	margin-left:10px;
	background-color: #0a0a31;
	border-radius: 10px;
	float:center;
}