.categoryList * {
  list-style: none;
}

.categoryList li a {
  text-decoration: none;
  color: black;
}

/* .categoryList { */
/*   display: none; */
/*   width: 150px; */
/* } */

.categoryTop {
  display: inline-block;
}

.ct_list_top {
  display: flex;
  justify-content: space-between;
}
.ct_list_top button {
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-color: inherit;
  transition: all 0.5s;
}

/* 카테고리 항목들 마진 주기 */
.ct_mc_list {
  padding-left: 2rem;
}
.ct_sc_list {
  padding-left: 3rem;
}

/* 카테고리 펼치고 숨기기 */
.ct_show {
  display: inline-block;
}

/* 이미지 토글 */
.ct_up_down_btn {
  background-image: url("../../../resources/img/junggo/inc/side_category/down.svg");
}
.ct_img_up {
  background-image: url("../../../resources/img/junggo/inc/side_category/up.svg");
}

.hidden {
    display: none;
}
