@charset "UTF-8";

body {
	width:600px;
}

#sec_con.register_view {
	padding-top: 150px;
}

.titleContainner {
	width:100%;
}

.title_title {
	width:100%;
	font-size: 35px;
	font-weight: 600;
	color: #333;
	border-bottom: 3px solid #ddd; 
}

.firstContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:260px;
}

.first_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left; 
}

.first_content {
	width:70%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
	float:left; 
}

.image_box {
	width:750px;
	height:170px;
	margin-bottom:5px;
}

.image_content {
	width:160px;
	height:160px;
	border:1px solid red;
	float:left;
	margin:0 10px;
}

.warning_text {
	font-size:10px;
	font-weight:300;
	color: purple;
}

.secondContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.second_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
}

.second_content {
	width:100%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
}

.product_name {
	width:50%;
	font-size: 15px;
	font-weight: 300;
	color: #333;
	margin-left:10px;
	border:1px solid #ddd;
}

.thirdContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:360px;
}

.third_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left; 
}

.third_content {
	width:70%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:0px;
	float:left; 
}

.category_box {
	width:980px;
	height:170px;
	margin-bottom:5px;
}

.category_content_l {
	width:180px;
	height:280px;
	border:1px solid red;
	float:left;
	margin:15px	 10px;
}
.category_content_m {
	width:180px;
	height:280px;
	border:1px solid red;
	float:left;
	margin:15px	 10px;
}
.category_content_s {
	width:200px;
	height:280px;
	border:1px solid red;
	float:left;
	margin:15px	 10px;
}


.selected_category {
	width:900px;
	font-size:15px;
	font-weight:300;
	color: purple;
	clear:left;
}

.fourthContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.fourth_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
}

.fourth_content {
	width:100%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
}

.location_btn {
	width:14%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	color: white;
	margin-left:10px;
	background-color: #9b59b6;
	border-radius: 10px;
}

#guide {
	width:50%;
	font-size: 15px;
	font-weight: 300;
	color: #333;
	margin-left:10px;
	border:1px solid #ddd;
}

#sample4_jibunAddress {
	width:55%;
	font-size: 15px;
	font-weight: 300;
	color: #333;
	margin-left:10px;
	border:1px solid #ddd;
}

.fifthContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
	line-height:auto;
}

.fifth_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
	margin-top:8px;
}

.fifth_content {
	width:74%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
	display: flex;
}

.radio_box {
	width:75%;
}

.brand_label {
  width:200%;
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}


#product_status {
	width:10%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	color: white;
	margin-left:10px;
	background-color: #9b59b6;
	border-radius: 10px;
	margin-top:0;
	margin-bottom:0;
}

.duplication_warning {
	width:22%;
	margin-left:5px;
	margin-top:3	px;
	float:right;
	font-size:15px;
	font-weight:300;
	color: purple;
}

.sixthContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.sixth_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
	margin-top:8px;
}

.sixth_content {
	width:70%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
	display: inline-block;
}

.size_box {
	width:90%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-top:8px;
	
}

.brand_box {
	width:50%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-top:8px;
	clear:both;
}

.size_label{
	width: 65%;
}

.sizeTableBtn {
	width:18%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	color: white;
	background-color: #9b59b6;
	border-radius: 10px;
}

.size {
	width:65%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	margin-left:10px;
	margin-top:0;
	margin-bottom:0;
	border:1px solid #ddd;
	text-align:left;
}


.brand {
	width:38%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	margin-left:10px;
	margin-right:20px;
	margin-top:0;
	margin-bottom:0;
	border:1px solid #ddd;
}

#inputBrand {
	width:45%;
	height:30px;
	font-size: 15px;
	font-weight: 300;
	margin-left:10px;
	margin-top:0;
	margin-bottom:0;
	border:1px solid #ddd;
}

.seventhContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.seventh_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
}

.seventh_content {
	width:70%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
}

/*.delivery_fee{
	
}*/

.total_fee {
	width:30%;
	font-size: 15px;
	font-weight: 300;
	color: #333;
	margin-left:10px;
	border:1px solid #ddd;
	text-align: left;
}

.eighthContainner {
	width: 95%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.eighth_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
}

.eighth_content {
	width:70%;
	height: 90px;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
	display: inline-block;
}

.product_detail {
	width:100%;
	height: 70px;
	vertical-align: middle;
	margin-top : 10px;
	margin-left:10px;
	border:1px solid #ddd;
	resize: none;
}

.ninthContainner {
	width: 100%;
	border-bottom: 1px solid #ddd; 
	padding: 10px 5px;
	height:auto;
}

.ninth_title {
	width:10%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
}

.ninth_content {
	width:100%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
}

.product_tag {
	width:50%;
	font-size: 15px;
	font-weight: 300;
	color: #333;
	margin-left:10px;
	border:1px solid #ddd;
}

.tenthContainner {
	width: 100%;
	border-bottom: 2px solid #ddd; 
	padding: 10px 5px;
	height:auto;
	line-height:auto;
}

.tenth_title {
	width:25%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	float:left;
	margin-top:8px;
}

.tenth_content {
	width:70%;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	margin-left:10px;
	display: flex;
}

.check_box {
	width:75%;
}
	

.safe_pay {
	
}

.direct_trade {

}

.duplication_Ok {
	width:25%;
	margin-left:10px;
	margin-top:8px;
	font-size:15px;
	font-weight:300;
	color: purple;
}


.back_btn {
	margin-top:8px;
	width:20%;
	height:50px;
	font-size: 25px;
	font-weight: 300;
	color: white;
	margin-left:10px;
	background-color: #0a0a31;
	border-radius: 10px;
	float:right;
}

.register_btn {
	margin-top:8px;
	width:20%;
	height:50px;
	font-size: 25px;
	font-weight: 300;
	color: white;
	margin-left:10px;
	background-color: #9b59b6;
	border-radius: 10px;
	float:right;
}

/* 이미지 */
/*이미지 영역*/
/* .image_box { */
/*     display: flex; */
/*     flex-wrap: wrap; */
/* } */
/* .image_box > div:first-child { */
/*     width: 150px; */
/*     height: 150px; */
/*     position: relative; */
/*     border: 1px solid rgb(230, 229, 239); */
/*     background: rgb(250, 250, 253); */
/*     display: flex; */
/*     -webkit-box-align: center; */
/*     align-items: center; */
/*     -webkit-box-pack: center; */
/*     justify-content: center; */
/*     flex-direction: column; */
/*     color: rgb(155, 153, 169); */
/*     font-size: 1rem; */
/*     margin-right: 1rem; */
/* } */
/* .image_box > div:first-child::before { */
/*     content: ""; */
/*     background-position: center center; */
/*     background-repeat: no-repeat; */
/*     background-size: cover; */
/*     width: 2rem; */
/*     height: 2rem; */
/*     background-image: url("../../img/common/thunder_emptyImage.svg"); */
/*     margin-bottom: 1rem; */
/* } */
/* .image_box > div > input { */
/*     width: 100%; */
/*     height: 100%; */
/*     position: absolute; */
/*     top: 0px; */
/*     left: 0px; */
/*     opacity: 0; */
/*     cursor: pointer; */
/*     font-size: 0px; */
/* } */

/* .imageView { */
/* 	width: 175px; */
/* 	height: 175px;  */
/* } */

/* .hidden { */
/* 	display: none; */
/* } */